---
import {TAGS} from "../../utils/config";
const {post} = Astro.props;
---

<div class="card flex flex-col md:flex-row items-center gap-5 border border-[#4a4c57] hover:bg-[#1e1f22] shadow-md p-7 rounded-2xl flex-shrink-0 flex-grow-0">
    <img class="w-[30%] md:w-5/12 sm:h-full object-cover rounded-lg overflow-hidden left-content"
         src={post.data.img} alt={post.data.title}></img>
    <div class="w-[70%] flex flex-col gap-5 text-white">
        <span class="text-sm">{post.data.date}</span>
        <a href={'/' + post.slug} class="title font-bold">{post.data.title}</a>
        <p class="">{post.data.description}</p>
        <div class="w-full flex flex-row justify-between">
            <span class="text-sm">作者：{post.data.author}</span>
            <div class="flex flex-row gap-5">
                {
                    post.data.tags.map(tag => (
                            <span class="text-sm">#{TAGS.find(TAG => TAG.slug == tag).name}</span>
                    ))
                }
            </div>
        </div>
    </div>
</div>


<style>
    .card:hover .title {
        background: linear-gradient(134.09deg, rgba(38, 44, 244, 1) 0%, rgba(113, 64, 255, 1) 100%);
        background-clip: text;
        color: transparent;
    }
</style>
